// Padding formt
$padding_xs: 10px;
$padding_sm: 15px;
$padding_md: 50px;
$padding_lg: 70px;
$padding_xl: 90px;

// Margin format
$margin: 10px;
$margin_sm: 30px;
$margin_md: 50px;
$margin_lg: 70px;
$margin_xl: 90px;

// Border format
$bRadius_xs: 30px;
// $bRadius_sm:;
// $bRadius_md:;
// $bRadius_lg:;
// $bRadius_xl:;
// $bRadius_xxl:;
