@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './lightTheme';
@import './darkTheme';
@import './auth/formStyle';
@import './format';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  color: #1677fe;
  text-decoration: none;
}

// #app {
//   width: 100%;
//   max-width: 450px;
//   background-color: blue;
//   display: flex;
//   justify-content: center;
//   align-self: center;
//   border: 1px solid red;
// }

// #main {
//   border: 1px solid red;
//   width: 100%;
//   max-width: 450px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
