#notiy{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 10px 10px; */
  }
  
  #notify .black {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0.7rem;
    z-index: 1;
    color: #fff;
    border-radius: 13px;
    background-color: #121212;
  }

  #notify .info {
    color: #1f3b72;
    background-color: #7da0e6;
    border: 2px solid #1f3b72;
  }
  
  #notify .success {
    color: #144b26;
    background-color: #60d685;
    border: 2px solid #144b26;
  }
  
  #notify .warn {
    color: #7e511f;
    background-color: #ff8800;
    border: 2px solid #7e511f;
  }
  
  #notify .error {
    color: #8d0d15;
    background-color: #d56066;
    border: 2px solid #8d0d15;
  }
  
  #notify .black .title {
    font-size: 16px;
    font-weight: 500;
  }

  #notify .black .subject {
    font-size: 14px;
    letter-spacing: 1px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  